!!! 5
html(ng-app="App")
  head
    title Thinkful States &amp; Capitals Title
    link(href="css/styles.css", rel="stylesheet")

  body
    h1 Countries &amp; Capitals
    div(ui-view)


    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")  
    script(src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js")
        
    script(src="js/app.js")
